* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #303952;
  color: aliceblue;
  line-height: 25px;
}

